
@model IEnumerable<thousand.Models.Sale>


<link rel=https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css />
<link rel=https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css />
<link rel=https://cdn.datatables.net/select/1.3.0/css/select.dataTables.min.css />
<link rel=https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js />
<link rel=https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js />
<link rel=https://cdn.datatables.net/select/1.3.0/js/dataTables.select.min.js />


<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header  mb20">
                    <h3 class="box-title">Month End Management</h3>
                </div>
                <!-- /.panel-heading -->
                <div class="box-body">
                    <div class="selectBoxContainer">
                        <input type="text" id="txtvalue" name="firstname">
                        <button type="button" value="button text"class="btn btn-primary save1" id="bttnsearch" >Search <span class="glyphicon glyphicon-search"></span></button>

                    </div>
                    @*<div class="dataTable_wrapper">*@
                    <!--<div class="table-responsive"> -->
                    <table class="table table-bordered table-striped mt10 dataTable" id="SearchServiceAreaResults">
                        <!--<table class="table table-striped table-bordered table-hover"> -->
                        <thead>
                            <tr>
                                <th></th>
                                <th>Region</th>
                                <th>Country</th>
                                <th>ItemType</th>
                                <th>OrderPriority</th>
                                <th>OrderDate</th>
                                <th>OrderId</th>
                                <th>UnitsSold</th>
                                <th>UnitPrice</th>
                                <th>UnitCost</th>
                                <th>TotalRevenue</th>
                                <th>TotalCost</th>
                                <th>TotalProfit</th>


                            </tr>
                        </thead>
                        <tbody>
                            @{
                int i = 1;
                            }
                            @foreach (thousand.Models.Sale dModel in Model)
            {
                <tr class="odd gradeX">
                    @*<td id="0_@i">&nbsp;</td>*@
                    <td id="1_@i">
        <a href="#AddPBPServiceArea" role="button" class="btn btn-large btn-primary" onclick="GetPBPServiceArea('@dModel.Region.Trim()')">
              <i class="glyphicon glyphicon-pencil"></i> <text> Edit / View</text>
        </a>  
                    
         </td>
                    <td id="3_@i">@dModel.Region</td>
                    <td id="4_@i">@dModel.Country</td>
                    <td id="5_@i">@dModel.ItemType</td>
                    <td id="6_@i">@dModel.OrderPriority</td>
                    <td id="7_@i">@dModel.OrderDate</td>
                    <td id="8_@i">@dModel.OrderId</td>
                    <td id="9_@i">@dModel.UnitsSold</td>
                    <td id="10_@i">@dModel.UnitPrice</td>
                    <td id="11_@i">@dModel.UnitCost</td>
                    <td id="12_@i">@dModel.TotalRevenue</td>
                    <td id="13_@i">@dModel.TotalCost</td>
                    <td id="14_@i">@dModel.TotalProfit</td>

                </tr>
}
                        </tbody>
                    </table>
                    @*</div>*@
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->

    </div>
</div>

@*<script>

    //$('a[href^="#"]').click(function (e) {
    //    e.preventDefault();
    //});

    $(document).ready(function () {

        $('#SearchServiceAreaResults').DataTable({
            "responsive": true,
            "columnDefs": [{
                className: 'control',
                orderable: false,
                targets: 0
            }],
            "order": [1, 'asc'],
            "drawCallback": function (settings) {
                setTimeout(function () {
                    // Fix the column widths
                    $('#SearchServiceAreaResults').attr("style", "width:inherit");
                }, 100);
            }
        });
    });
    </script>*@
    @*var editor; // use a global for the submit and return data rendering in the examples

   
    $(document).ready(function () {
        editor = new $.fn.dataTable.Editor({
            
            table: "#example",
            fields: [{
                label: "Region:",
                name: "Region"
            }, {
                    label: "Country:",
                    name: "Country"
            }, {
                    label: "SalesChannel:",
                    name: "SalesChannel"
            }, {
                    label: "OrderPriority:",
                    name: "OrderPriority"
            }, {
                    label: "OrderDate:",
                    name: "OrderId"
            }, {
                    label: "Shipdate:",
                    name: "Shipdate",
                type: "datetime"
            },
            {
                label: "UnitsSold:",
                name: "UnitsSold"
            }
             {
                 label: "UnitPrice:",
                 name: "UnitPrice"
            },
              {
                  label: "UnitCost:",
                  name: "UnitCost"
             },
               {
                   label: "TotalRevenue:",
                   name: "TotalRevenue"
              },
               {
                   label: "TotalCost:",
                   name: "TotalCost"
               },
               {
                   label: "TotalProfitt:",
                   name: "TotalProfit"
               }

            ]
        });

        // Activate an inline edit on click of a table cell
        $('#example').on('click', 'tbody td:not(:first-child)', function (e) {
            editor.inline(this);
        });

        $('#example').DataTable({
            dom: "Bfrtip",
          
            order: [[1, 'asc']],
            columns: [
                {
                    data: null,
                    defaultContent: '',
                    className: 'select-checkbox',
                    orderable: false
                },
                //{ data: "first_name" },
                //{ data: "last_name" },
                //{ data: "position" },
                //{ data: "office" },
                //{ data: "start_date" },
                //{ data: "salary", render: $.fn.dataTable.render.number(',', '.', 0, '$') }
            ],
            select: {
                style: 'os',
                selector: 'td:first-child'
            },
            buttons: [
                { extend: "create", editor: editor },
                { extend: "edit", editor: editor },
                { extend: "remove", editor: editor }
            ]
        });
    });
    
</script>*@



@*<script>
    $(document).ready(function () {
        $('#example').on('click', 'tbody td:not(:first-child)', function (e) {
            editor.inline(this);
        });
            $("#bttnsearch").click(function (e) {
                e.preventDefault();
                $.ajax({
                    type: "POST",
                    url: "/Emp/HomePage/",
                    data: {
                        id: $("#bttnsearch").val(),
                        Region: $("#txtvalue").val()
                    },
                    success: function (result) {
                        alert('ok');
                    },
                    error: function (result) {
                        alert('error');
                    }
                });
            });



</script>*@
}


